
html,body{
  height:100%;
  max-width:100%;
}
.app{
  height:100%;
  width:100%;
}
.app>*{/* .main */
  height:100%;
}
.top{
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:center;
  height:3.5rem;
}
.top>*{
  flex-basis:auto;
  flex-grow:1;
  flex-shrink:1;
  max-width:50rem;
}
.has-shadow{
  box-shadow:0 0 5px 1px rgba(0,0,0,0.3) inset;
}
#tabs li:not(.is-active) a:hover{
  background:rgba(255,255,255,0.3);
}
#sidebar{
  position:relative;
}
.avatar{
  border-radius:8%;
  overflow:hidden;
  box-shadow:0 0 2px 1px rgba(0,0,0,0.3);
}
.avatar img{
  width:100%;
  height:100%;
  object-fit: cover;
}

/*
layout
*/
.container-view{
  display:grid;
  grid-template-columns:auto 40rem auto;
  grid-row-gap: 1rem;
  margin:1rem 0;
}
.container-view>*{
  grid-column-start: 2;
  grid-column-end:2;
}
.post{
  animation:swoos-in 0.2s;
}
.post .media-content{
  max-width:calc(100% - 5rem);
}
@media all and (max-width:40rem){
  .container-view{
    grid-template-columns:0 100% 0;
  }
}

@keyframes swoos-in{
  0%{
    opacity:0;
    transform:translateX(20px);
  }
  100%{
    opactiy:1;
    transform:translateX(0);
  }
}
